name: Security Scan

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  security:
    name: Security Scan
    uses: zavestudios/platform-pipelines/.github/workflows/security-scan.yml@main
    with:
      fetch_depth: 0
